<div class="users">
  <% users.forEach(user => {%>
    <p style="line-height:50%">
      Name:
      <a href="<%= `/users/${user._id}` %>">
        <%= user.name %>
        </a>
    </p>
    <p style="line-height:50%">Gender:
      <%= user.gender %>
    </p>
    <p style="line-height:50%">
      <a href="<%=`users/${user._id}/edit`%>">
        Edit   
      </a>
      <a href="<%= `users/${user._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')" a>   Delete</a>
    </p>
    <hr/>
    <% })%>
</div>
